USE [master]
GO
/****** Object:  Database [unilap_db]    Script Date: 13/06/2026 13:41:58 ******/
CREATE DATABASE [unilap_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'unilap_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\unilap_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'unilap_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\unilap_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
ALTER DATABASE [unilap_db] SET COMPATIBILITY_LEVEL = 160
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [unilap_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER DATABASE [unilap_db] SET ANSI_NULL_DEFAULT OFF 
GO
ALTER DATABASE [unilap_db] SET ANSI_NULLS OFF 
GO
ALTER DATABASE [unilap_db] SET ANSI_PADDING OFF 
GO
ALTER DATABASE [unilap_db] SET ANSI_WARNINGS OFF 
GO
ALTER DATABASE [unilap_db] SET ARITHABORT OFF 
GO
ALTER DATABASE [unilap_db] SET AUTO_CLOSE ON 
GO
ALTER DATABASE [unilap_db] SET AUTO_SHRINK OFF 
GO
ALTER DATABASE [unilap_db] SET AUTO_UPDATE_STATISTICS ON 
GO
ALTER DATABASE [unilap_db] SET CURSOR_CLOSE_ON_COMMIT OFF 
GO
ALTER DATABASE [unilap_db] SET CURSOR_DEFAULT  GLOBAL 
GO
ALTER DATABASE [unilap_db] SET CONCAT_NULL_YIELDS_NULL OFF 
GO
ALTER DATABASE [unilap_db] SET NUMERIC_ROUNDABORT OFF 
GO
ALTER DATABASE [unilap_db] SET QUOTED_IDENTIFIER OFF 
GO
ALTER DATABASE [unilap_db] SET RECURSIVE_TRIGGERS OFF 
GO
ALTER DATABASE [unilap_db] SET  ENABLE_BROKER 
GO
ALTER DATABASE [unilap_db] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
GO
ALTER DATABASE [unilap_db] SET DATE_CORRELATION_OPTIMIZATION OFF 
GO
ALTER DATABASE [unilap_db] SET TRUSTWORTHY OFF 
GO
ALTER DATABASE [unilap_db] SET ALLOW_SNAPSHOT_ISOLATION OFF 
GO
ALTER DATABASE [unilap_db] SET PARAMETERIZATION SIMPLE 
GO
ALTER DATABASE [unilap_db] SET READ_COMMITTED_SNAPSHOT OFF 
GO
ALTER DATABASE [unilap_db] SET HONOR_BROKER_PRIORITY OFF 
GO
ALTER DATABASE [unilap_db] SET RECOVERY SIMPLE 
GO
ALTER DATABASE [unilap_db] SET  MULTI_USER 
GO
ALTER DATABASE [unilap_db] SET PAGE_VERIFY CHECKSUM  
GO
ALTER DATABASE [unilap_db] SET DB_CHAINING OFF 
GO
ALTER DATABASE [unilap_db] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
GO
ALTER DATABASE [unilap_db] SET TARGET_RECOVERY_TIME = 60 SECONDS 
GO
ALTER DATABASE [unilap_db] SET DELAYED_DURABILITY = DISABLED 
GO
ALTER DATABASE [unilap_db] SET ACCELERATED_DATABASE_RECOVERY = OFF  
GO
EXEC sys.sp_db_vardecimal_storage_format N'unilap_db', N'ON'
GO
ALTER DATABASE [unilap_db] SET QUERY_STORE = ON
GO
ALTER DATABASE [unilap_db] SET QUERY_STORE (OPERATION_MODE = READ_WRITE, CLEANUP_POLICY = (STALE_QUERY_THRESHOLD_DAYS = 30), DATA_FLUSH_INTERVAL_SECONDS = 900, INTERVAL_LENGTH_MINUTES = 60, MAX_STORAGE_SIZE_MB = 1000, QUERY_CAPTURE_MODE = AUTO, SIZE_BASED_CLEANUP_MODE = AUTO, MAX_PLANS_PER_QUERY = 200, WAIT_STATS_CAPTURE_MODE = ON)
GO
USE [unilap_db]
GO
/****** Object:  Table [dbo].[ProductSeries]    Script Date: 13/06/2026 13:41:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductSeries](
	[series_id] [int] IDENTITY(1,1) NOT NULL,
	[series_name] [nvarchar](100) NOT NULL,
	[brand_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[series_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 13/06/2026 13:41:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[brand_id] [int] IDENTITY(1,1) NOT NULL,
	[brand_name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[brand_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 13/06/2026 13:41:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 13/06/2026 13:41:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[product_name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[warranty_period] [int] NULL,
	[thumbnail] [nvarchar](255) NULL,
	[category_id] [int] NULL,
	[brand_id] [int] NULL,
	[series_id] [int] NULL,
	[purpose] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductVariant]    Script Date: 13/06/2026 13:41:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductVariant](
	[variant_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[sku] [nvarchar](100) NULL,
	[variant_name] [nvarchar](255) NULL,
	[import_price] [decimal](10, 2) NULL,
	[selling_price] [decimal](10, 2) NULL,
	[is_serialized] [bit] NULL,
	[status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[variant_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VariantSpecification]    Script Date: 13/06/2026 13:41:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VariantSpecification](
	[variant_specification_id] [int] IDENTITY(1,1) NOT NULL,
	[variant_id] [int] NULL,
	[value] [varchar](255) NULL,
	[specification_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[variant_specification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 13/06/2026 13:41:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[order_detail_id] [int] IDENTITY(1,1) NOT NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [decimal](10, 2) NOT NULL,
	[order_id] [int] NULL,
	[variant_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[order_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ProductSpec]    Script Date: 13/06/2026 13:41:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================================
-- View: vw_ProductSpec
-- Mục đích: Để lấy thông số kỹ thuật của sản phẩm 
-- ============================================================
CREATE VIEW [dbo].[vw_ProductSpec] AS
SELECT
    p.product_id,
    p.product_name,
    p.thumbnail,
    p.purpose,
    p.series_id,
    ps.series_name,
    b.brand_id,
    b.brand_name,
    c.category_id,
    c.category_name,
    MIN(ISNULL(fs_active.sale_price, pv.selling_price))                       AS min_price,
    MIN(pv.selling_price)                                                    AS original_price,
    CASE WHEN MIN(pv.selling_price) > 0 THEN CAST(ROUND((MIN(pv.selling_price) - MIN(ISNULL(fs_active.sale_price, pv.selling_price))) * 100.0 / MIN(pv.selling_price), 0) AS INT) ELSE 0 END AS discount_percent,
    SUM(ISNULL(od.quantity, 0))                                              AS sold_quantity,
    MAX(CASE WHEN vs.specification_id = 1  THEN vs.value END)               AS cpu,
    MAX(CASE WHEN vs.specification_id = 2  THEN vs.value END)               AS ram,
    MAX(CASE WHEN vs.specification_id = 5  THEN vs.value END)               AS ssd,
    MAX(CASE WHEN vs.specification_id = 4  THEN vs.value END)               AS gpu,
    MAX(CASE WHEN vs.specification_id = 3  THEN vs.value END)               AS screen,
    MAX(CASE WHEN vs.specification_id = 18 THEN vs.value END)               AS connectivity,
    MAX(CASE WHEN vs.specification_id = 10 THEN vs.value END)               AS switch_type,
    MAX(CASE WHEN vs.specification_id = 13 THEN vs.value END)               AS dpi
FROM Product p
JOIN Brand b             ON p.brand_id    = b.brand_id
JOIN Category c          ON p.category_id = c.category_id
JOIN ProductVariant pv   ON p.product_id  = pv.product_id
LEFT JOIN ProductSeries ps      ON p.series_id   = ps.series_id
LEFT JOIN VariantSpecification vs ON pv.variant_id = vs.variant_id
LEFT JOIN OrderDetail od        ON pv.variant_id  = od.variant_id
LEFT JOIN (
    SELECT fsi.variant_id, MIN(fsi.sale_price) AS sale_price
    FROM FlashSaleItem fsi
    JOIN FlashSale fs ON fsi.flashsale_id = fs.flashsale_id
    WHERE GETDATE() >= fs.start_time AND GETDATE() <= fs.end_time
    GROUP BY fsi.variant_id
) fs_active ON pv.variant_id = fs_active.variant_id
GROUP BY
    p.product_id, p.product_name, p.thumbnail, p.purpose,
    p.series_id, ps.series_name,
    b.brand_id, b.brand_name,
    c.category_id, c.category_name;
GO
/****** Object:  Table [dbo].[Address]    Script Date: 13/06/2026 13:41:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[address_id] [int] IDENTITY(1,1) NOT NULL,
	[detail_address] [nvarchar](max) NOT NULL,
	[is_default] [bit] NULL,
	[user_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[address_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AIFeedback]    Script Date: 13/06/2026 13:41:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AIFeedback](
	[feedback_id] [int] IDENTITY(1,1) NOT NULL,
	[rating] [int] NULL,
	[comment] [nvarchar](max) NULL,
	[time] [datetime] NULL,
	[user_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[feedback_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Campaign]    Script Date: 13/06/2026 13:41:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Campaign](
	[campaign_id] [int] IDENTITY(1,1) NOT NULL,
	[campaign_name] [nvarchar](255) NOT NULL,
	[campaign_description] [nvarchar](max) NULL,
	[promo_code] [nvarchar](50) NOT NULL,
	[campaign_type] [nvarchar](50) NOT NULL,
	[discount_value] [decimal](18, 2) NOT NULL,
	[min_order_value] [decimal](18, 2) NOT NULL,
	[usage_limit] [int] NULL,
	[used_count] [int] NOT NULL,
	[target_group] [nvarchar](100) NOT NULL,
	[start_date] [datetime] NOT NULL,
	[end_date] [datetime] NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
	[voucher_id] [int] NULL,
	[flashsale_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[campaign_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CampaignBanner]    Script Date: 13/06/2026 13:41:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CampaignBanner](
	[banner_id] [int] IDENTITY(1,1) NOT NULL,
	[campaign_id] [int] NOT NULL,
	[image_url] [nvarchar](500) NOT NULL,
	[display_order] [int] NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[banner_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CampaignProduct]    Script Date: 13/06/2026 13:41:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CampaignProduct](
	[campaign_id] [int] NOT NULL,
	[variant_id] [int] NOT NULL,
	[sale_price] [decimal](18, 2) NULL,
	[quantity_limit] [int] NULL,
	[sold_quantity] [int] NOT NULL,
	[purchase_limit_per_user] [int] NULL,
 CONSTRAINT [PK_CampaignProduct] PRIMARY KEY CLUSTERED 
(
	[campaign_id] ASC,
	[variant_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 13/06/2026 13:41:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[cart_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[cart_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItem]    Script Date: 13/06/2026 13:41:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItem](
	[cart_item_id] [int] IDENTITY(1,1) NOT NULL,
	[quantity] [int] NOT NULL,
	[cart_id] [int] NULL,
	[variant_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[cart_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FlashSale]    Script Date: 13/06/2026 13:41:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FlashSale](
	[flashsale_id] [int] IDENTITY(1,1) NOT NULL,
	[flashsale_name] [nvarchar](255) NOT NULL,
	[start_time] [datetime] NOT NULL,
	[end_time] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[flashsale_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FlashSaleItem]    Script Date: 13/06/2026 13:41:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FlashSaleItem](
	[flashsale_item_id] [int] IDENTITY(1,1) NOT NULL,
	[sale_price] [decimal](10, 2) NOT NULL,
	[quantity_limit] [int] NULL,
	[flashsale_id] [int] NULL,
	[variant_id] [int] NULL,
	[sold_quantity] [int] NULL,
	[purchase_limit_per_user] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[flashsale_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 13/06/2026 13:41:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[inventory_id] [int] IDENTITY(1,1) NOT NULL,
	[variant_id] [int] NULL,
	[reserved_quantity] [int] NULL,
	[available_quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[inventory_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryItem]    Script Date: 13/06/2026 13:41:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryItem](
	[item_id] [int] IDENTITY(1,1) NOT NULL,
	[variant_id] [int] NULL,
	[serial_number] [nvarchar](100) NULL,
	[imei] [nvarchar](100) NULL,
	[barcode] [nvarchar](100) NULL,
	[status] [nvarchar](50) NULL,
	[import_date] [datetime] NULL,
	[sold_date] [datetime] NULL,
	[warranty_expired_date] [datetime] NULL,
	[warehouse_location] [nvarchar](255) NULL,
	[note] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 13/06/2026 13:41:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[total_amount] [decimal](10, 2) NULL,
	[shipping_fee] [decimal](10, 2) NULL,
	[order_status] [nvarchar](50) NULL,
	[shipping_receiver] [nvarchar](255) NULL,
	[shipping_phone] [nvarchar](20) NULL,
	[shipping_address] [nvarchar](max) NULL,
	[order_code] [nvarchar](100) NULL,
	[user_id] [int] NULL,
	[voucher_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItemSerial]    Script Date: 13/06/2026 13:41:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItemSerial](
	[order_item_serial_id] [int] IDENTITY(1,1) NOT NULL,
	[order_detail_id] [int] NULL,
	[item_id] [int] NULL,
	[assigned_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[order_item_serial_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PageContent]    Script Date: 13/06/2026 13:41:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PageContent](
	[page_id] [int] IDENTITY(1,1) NOT NULL,
	[page_key] [varchar](50) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[status] [bit] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[page_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 13/06/2026 13:41:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[payment_method] [nvarchar](100) NULL,
	[amount] [decimal](10, 2) NULL,
	[payment_status] [nvarchar](50) NULL,
	[order_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Policy]    Script Date: 13/06/2026 13:41:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Policy](
	[policy_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[policy_type] [nvarchar](50) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[status] [bit] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[policy_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImage]    Script Date: 13/06/2026 13:41:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImage](
	[image_id] [int] IDENTITY(1,1) NOT NULL,
	[image_url] [nvarchar](255) NOT NULL,
	[product_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductReview]    Script Date: 13/06/2026 13:41:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductReview](
	[review_id] [int] IDENTITY(1,1) NOT NULL,
	[rating] [int] NULL,
	[comment] [nvarchar](max) NULL,
	[time] [datetime] NULL,
	[order_detail_id] [int] NULL,
	[user_id] [int] NULL,
	[product_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 13/06/2026 13:41:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specification]    Script Date: 13/06/2026 13:41:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specification](
	[specification_id] [int] IDENTITY(1,1) NOT NULL,
	[specification_name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[specification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 13/06/2026 13:41:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](255) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[password] [nvarchar](255) NOT NULL,
	[status] [nvarchar](50) NULL,
	[role_id] [int] NULL,
	[avatar_url] [nvarchar](500) NULL,
	[created_at] [datetime] NULL DEFAULT (getdate()),
	[updated_at] [datetime] NULL DEFAULT (getdate()),
	[last_login_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PasswordResetToken]    Script Date: 13/06/2026 13:41:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordResetToken](
	[token_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[token] [nvarchar](255) NOT NULL UNIQUE,
	[is_used] [bit] NULL DEFAULT ((0)),
	[created_at] [datetime] NULL DEFAULT (getdate()),
	[expires_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[token_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PasswordResetToken]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
/****** Object:  Table [dbo].[Voucher]    Script Date: 13/06/2026 13:41:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucher](
	[voucher_id] [int] IDENTITY(1,1) NOT NULL,
	[voucher_code] [nvarchar](50) NOT NULL,
	[discount_value] [decimal](10, 2) NOT NULL,
	[min_order_value] [decimal](10, 2) NOT NULL,
	[expiry_date] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[voucher_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Warranty]    Script Date: 13/06/2026 13:41:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Warranty](
	[warranty_id] [int] IDENTITY(1,1) NOT NULL,
	[warranty_expired_date] [datetime] NULL,
	[start_date] [datetime] NULL,
	[warranty_status] [nvarchar](50) NULL,
	[item_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[warranty_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WarrantyHistory]    Script Date: 13/06/2026 13:41:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarrantyHistory](
	[history_id] [int] IDENTITY(1,1) NOT NULL,
	[warranty_id] [int] NULL,
	[issue_description] [nvarchar](max) NULL,
	[repair_status] [nvarchar](50) NULL,
	[repair_date] [datetime] NULL,
	[repair_note] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[history_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WarrantyPolicies]    Script Date: 13/06/2026 13:41:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarrantyPolicies](
	[PolicyID] [int] IDENTITY(1,1) NOT NULL,
	[PolicyName] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[PolicyContent] [nvarchar](max) NOT NULL,
	[ApplicableRegions] [nvarchar](255) NULL,
	[WarrantyMonths] [int] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[Version] [nvarchar](20) NOT NULL,
	[EffectiveDate] [date] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PolicyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Address] ON 

INSERT [dbo].[Address] ([address_id], [detail_address], [is_default], [user_id]) VALUES (1, N'45 Nguyễn Huệ, Phường Bến Nghé, Quận 1, TP.HCM', 1, 4)
INSERT [dbo].[Address] ([address_id], [detail_address], [is_default], [user_id]) VALUES (2, N'12 Lê Lợi, Phường Bến Thành, Quận 1, TP.HCM', 0, 4)
INSERT [dbo].[Address] ([address_id], [detail_address], [is_default], [user_id]) VALUES (3, N'88 Trần Phú, P. Hải Châu 1, Q. Hải Châu, Đà Nẵng', 1, 5)











SET IDENTITY_INSERT [dbo].[Address] OFF
GO
SET IDENTITY_INSERT [dbo].[AIFeedback] ON 

INSERT [dbo].[AIFeedback] ([feedback_id], [rating], [comment], [time], [user_id]) VALUES (1, 5, N'Website rất dễ dùng, tìm kiếm nhanh, giao hàng đúng hạn. Sẽ giới thiệu cho bạn bè!', CAST(N'2026-06-01T17:09:40.020' AS DateTime), 4)
INSERT [dbo].[AIFeedback] ([feedback_id], [rating], [comment], [time], [user_id]) VALUES (2, 5, N'Hàng chính hãng, đóng gói cẩn thận, nhân viên tư vấn nhiệt tình.', CAST(N'2026-06-01T17:09:40.020' AS DateTime), 5)
INSERT [dbo].[AIFeedback] ([feedback_id], [rating], [comment], [time], [user_id]) VALUES (3, 4, N'Sản phẩm tốt, giá cạnh tranh. Giao hàng hơi chậm hơn dự kiến 1 ngày.', CAST(N'2026-06-01T17:09:40.020' AS DateTime), 6)




SET IDENTITY_INSERT [dbo].[AIFeedback] OFF
GO
SET IDENTITY_INSERT [dbo].[Brand] ON 

INSERT [dbo].[Brand] ([brand_id], [brand_name]) VALUES (1, N'ASUS')
INSERT [dbo].[Brand] ([brand_id], [brand_name]) VALUES (2, N'Acer')
INSERT [dbo].[Brand] ([brand_id], [brand_name]) VALUES (3, N'Dell')















SET IDENTITY_INSERT [dbo].[Brand] OFF
GO
SET IDENTITY_INSERT [dbo].[Campaign] ON 






SET IDENTITY_INSERT [dbo].[Campaign] OFF
GO
SET IDENTITY_INSERT [dbo].[CampaignBanner] ON 

INSERT [dbo].[CampaignBanner] ([banner_id], [campaign_id], [image_url], [display_order], [status]) VALUES (1, 4, N'/images/banner-gaming-sale.jpg', 1, 1)
SET IDENTITY_INSERT [dbo].[CampaignBanner] OFF
GO
INSERT [dbo].[CampaignProduct] ([campaign_id], [variant_id], [sale_price], [quantity_limit], [sold_quantity], [purchase_limit_per_user]) VALUES (1, 1, NULL, 5000, 0, 1)
INSERT [dbo].[CampaignProduct] ([campaign_id], [variant_id], [sale_price], [quantity_limit], [sold_quantity], [purchase_limit_per_user]) VALUES (1, 2, NULL, 5000, 0, 1)
INSERT [dbo].[CampaignProduct] ([campaign_id], [variant_id], [sale_price], [quantity_limit], [sold_quantity], [purchase_limit_per_user]) VALUES (1, 3, NULL, 5000, 0, 1)
















GO
SET IDENTITY_INSERT [dbo].[Cart] ON 

INSERT [dbo].[Cart] ([cart_id], [user_id]) VALUES (1, 4)
INSERT [dbo].[Cart] ([cart_id], [user_id]) VALUES (2, 5)
INSERT [dbo].[Cart] ([cart_id], [user_id]) VALUES (3, 6)









SET IDENTITY_INSERT [dbo].[Cart] OFF
GO
SET IDENTITY_INSERT [dbo].[CartItem] ON 

INSERT [dbo].[CartItem] ([cart_item_id], [quantity], [cart_id], [variant_id]) VALUES (1, 1, 1, 1)
INSERT [dbo].[CartItem] ([cart_item_id], [quantity], [cart_id], [variant_id]) VALUES (2, 1, 1, 22)
INSERT [dbo].[CartItem] ([cart_item_id], [quantity], [cart_id], [variant_id]) VALUES (3, 1, 2, 6)











SET IDENTITY_INSERT [dbo].[CartItem] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([category_id], [category_name]) VALUES (1, N'Laptop')
INSERT [dbo].[Category] ([category_id], [category_name]) VALUES (2, N'Màn hình máy tính')
INSERT [dbo].[Category] ([category_id], [category_name]) VALUES (3, N'Bàn phím')




SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[FlashSale] ON 

INSERT [dbo].[FlashSale] ([flashsale_id], [flashsale_name], [start_time], [end_time]) VALUES (1, N'Flash Sale Hè 2026 - Ngày 1', CAST(N'2026-06-01T10:00:00.000' AS DateTime), CAST(N'2026-06-01T14:00:00.000' AS DateTime))
INSERT [dbo].[FlashSale] ([flashsale_id], [flashsale_name], [start_time], [end_time]) VALUES (2, N'Siêu Sale 6.6 - Ngày Hội Công Nghệ', CAST(N'2026-06-06T00:00:00.000' AS DateTime), CAST(N'2026-06-06T23:59:59.000' AS DateTime))
INSERT [dbo].[FlashSale] ([flashsale_id], [flashsale_name], [start_time], [end_time]) VALUES (3, N'Flash Sale Cuối Tháng 5', CAST(N'2026-05-31T20:00:00.000' AS DateTime), CAST(N'2026-05-31T23:59:59.000' AS DateTime))






SET IDENTITY_INSERT [dbo].[FlashSale] OFF
GO
SET IDENTITY_INSERT [dbo].[FlashSaleItem] ON 

INSERT [dbo].[FlashSaleItem] ([flashsale_item_id], [sale_price], [quantity_limit], [flashsale_id], [variant_id], [sold_quantity], [purchase_limit_per_user]) VALUES (1, CAST(44990000.00 AS Decimal(10, 2)), 5, 1, 1, 0, 1)
INSERT [dbo].[FlashSaleItem] ([flashsale_item_id], [sale_price], [quantity_limit], [flashsale_id], [variant_id], [sold_quantity], [purchase_limit_per_user]) VALUES (2, CAST(24990000.00 AS Decimal(10, 2)), 10, 1, 3, 0, 1)
INSERT [dbo].[FlashSaleItem] ([flashsale_item_id], [sale_price], [quantity_limit], [flashsale_id], [variant_id], [sold_quantity], [purchase_limit_per_user]) VALUES (3, CAST(7190000.00 AS Decimal(10, 2)), 20, 1, 18, 0, 2)














































SET IDENTITY_INSERT [dbo].[FlashSaleItem] OFF
GO
SET IDENTITY_INSERT [dbo].[Inventory] ON 

INSERT [dbo].[Inventory] ([inventory_id], [variant_id], [reserved_quantity], [available_quantity]) VALUES (1, 1, 1, 12)
INSERT [dbo].[Inventory] ([inventory_id], [variant_id], [reserved_quantity], [available_quantity]) VALUES (2, 2, 0, 18)
INSERT [dbo].[Inventory] ([inventory_id], [variant_id], [reserved_quantity], [available_quantity]) VALUES (3, 3, 2, 25)



















































SET IDENTITY_INSERT [dbo].[Inventory] OFF
GO
SET IDENTITY_INSERT [dbo].[InventoryItem] ON 

INSERT [dbo].[InventoryItem] ([item_id], [variant_id], [serial_number], [imei], [barcode], [status], [import_date], [sold_date], [warranty_expired_date], [warehouse_location], [note], [created_at], [updated_at]) VALUES (1, 1, N'SN-ROGG16I9-001', N'IMEI-001-G16I9', N'BC-ROGG16I9-001', N'in_stock', CAST(N'2025-09-01T00:00:00.000' AS DateTime), NULL, CAST(N'2027-09-01T00:00:00.000' AS DateTime), N'A1-01', NULL, CAST(N'2026-06-01T17:09:40.013' AS DateTime), CAST(N'2026-06-01T17:09:40.013' AS DateTime))
INSERT [dbo].[InventoryItem] ([item_id], [variant_id], [serial_number], [imei], [barcode], [status], [import_date], [sold_date], [warranty_expired_date], [warehouse_location], [note], [created_at], [updated_at]) VALUES (2, 1, N'SN-ROGG16I9-002', N'IMEI-002-G16I9', N'BC-ROGG16I9-002', N'in_stock', CAST(N'2025-09-01T00:00:00.000' AS DateTime), NULL, CAST(N'2027-09-01T00:00:00.000' AS DateTime), N'A1-01', NULL, CAST(N'2026-06-01T17:09:40.013' AS DateTime), CAST(N'2026-06-01T17:09:40.013' AS DateTime))
INSERT [dbo].[InventoryItem] ([item_id], [variant_id], [serial_number], [imei], [barcode], [status], [import_date], [sold_date], [warranty_expired_date], [warehouse_location], [note], [created_at], [updated_at]) VALUES (3, 1, N'SN-ROGG16I9-003', N'IMEI-003-G16I9', N'BC-ROGG16I9-003', N'sold', CAST(N'2025-09-01T00:00:00.000' AS DateTime), CAST(N'2025-11-05T00:00:00.000' AS DateTime), CAST(N'2027-09-01T00:00:00.000' AS DateTime), N'A1-01', NULL, CAST(N'2026-06-01T17:09:40.013' AS DateTime), CAST(N'2026-06-01T17:09:40.013' AS DateTime))















SET IDENTITY_INSERT [dbo].[InventoryItem] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([order_id], [total_amount], [shipping_fee], [order_status], [shipping_receiver], [shipping_phone], [shipping_address], [order_code], [user_id], [voucher_id]) VALUES (1, CAST(49990000.00 AS Decimal(10, 2)), CAST(30000.00 AS Decimal(10, 2)), N'delivered', N'Phạm Văn An', N'0912111001', N'45 Nguyễn Huệ, Q.1, TP.HCM', N'ORD-20251105-0001', 4, NULL)
INSERT [dbo].[Order] ([order_id], [total_amount], [shipping_fee], [order_status], [shipping_receiver], [shipping_phone], [shipping_address], [order_code], [user_id], [voucher_id]) VALUES (2, CAST(27990000.00 AS Decimal(10, 2)), CAST(30000.00 AS Decimal(10, 2)), N'delivered', N'Trần Quốc Cường', N'0912111003', N'210 Hoàn Kiếm, Q. Hoàn Kiếm, Hà Nội', N'ORD-20251120-0002', 6, 2)
INSERT [dbo].[Order] ([order_id], [total_amount], [shipping_fee], [order_status], [shipping_receiver], [shipping_phone], [shipping_address], [order_code], [user_id], [voucher_id]) VALUES (3, CAST(42990000.00 AS Decimal(10, 2)), CAST(30000.00 AS Decimal(10, 2)), N'delivered', N'Lê Thị Dung', N'0912111004', N'33 Lý Thường Kiệt, Q.10, TP.HCM', N'ORD-20251115-0003', 7, NULL)












SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([order_detail_id], [quantity], [unit_price], [order_id], [variant_id]) VALUES (1, 1, CAST(49990000.00 AS Decimal(10, 2)), 1, 1)
INSERT [dbo].[OrderDetail] ([order_detail_id], [quantity], [unit_price], [order_id], [variant_id]) VALUES (2, 1, CAST(27990000.00 AS Decimal(10, 2)), 2, 3)
INSERT [dbo].[OrderDetail] ([order_detail_id], [quantity], [unit_price], [order_id], [variant_id]) VALUES (3, 1, CAST(42990000.00 AS Decimal(10, 2)), 3, 4)











































SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItemSerial] ON 

INSERT [dbo].[OrderItemSerial] ([order_item_serial_id], [order_detail_id], [item_id], [assigned_at]) VALUES (1, 1, 3, CAST(N'2025-11-05T09:15:00.000' AS DateTime))
INSERT [dbo].[OrderItemSerial] ([order_item_serial_id], [order_detail_id], [item_id], [assigned_at]) VALUES (2, 2, 10, CAST(N'2025-11-20T10:00:00.000' AS DateTime))
INSERT [dbo].[OrderItemSerial] ([order_item_serial_id], [order_detail_id], [item_id], [assigned_at]) VALUES (3, 3, 13, CAST(N'2025-11-15T14:30:00.000' AS DateTime))



SET IDENTITY_INSERT [dbo].[OrderItemSerial] OFF
GO
SET IDENTITY_INSERT [dbo].[PageContent] ON 

INSERT [dbo].[PageContent] ([page_id], [page_key], [title], [content], [status], [created_at], [updated_at]) VALUES (1, N'privacy-policy', N'Chính sách bảo mật', N'Nội dung chính sách bảo mật...', 1, CAST(N'2026-06-04T18:39:37.637' AS DateTime), CAST(N'2026-06-04T18:39:37.637' AS DateTime))
INSERT [dbo].[PageContent] ([page_id], [page_key], [title], [content], [status], [created_at], [updated_at]) VALUES (2, N'terms-of-use', N'Điều khoản sử dụng', N'Nội dung điều khoản sử dụng...', 1, CAST(N'2026-06-04T18:39:37.637' AS DateTime), CAST(N'2026-06-04T18:39:37.637' AS DateTime))
INSERT [dbo].[PageContent] ([page_id], [page_key], [title], [content], [status], [created_at], [updated_at]) VALUES (3, N'shopping-guide', N'Hướng dẫn mua hàng', N'Hướng dẫn mua hàng...', 1, CAST(N'2026-06-04T18:39:37.637' AS DateTime), CAST(N'2026-06-04T18:39:37.637' AS DateTime))


SET IDENTITY_INSERT [dbo].[PageContent] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([payment_id], [payment_method], [amount], [payment_status], [order_id]) VALUES (1, N'credit_card', CAST(49990000.00 AS Decimal(10, 2)), N'paid', 1)
INSERT [dbo].[Payment] ([payment_id], [payment_method], [amount], [payment_status], [order_id]) VALUES (2, N'bank_transfer', CAST(27990000.00 AS Decimal(10, 2)), N'paid', 2)
INSERT [dbo].[Payment] ([payment_id], [payment_method], [amount], [payment_status], [order_id]) VALUES (3, N'credit_card', CAST(42990000.00 AS Decimal(10, 2)), N'paid', 3)












SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[Policy] ON 

INSERT [dbo].[Policy] ([policy_id], [title], [policy_type], [content], [status], [created_at], [updated_at]) VALUES (1, N'Chính sách bảo hành', N'WARRANTY', N'Tất cả sản phẩm được bảo hành chính hãng từ 12 đến 36 tháng tùy sản phẩm.', 1, CAST(N'2026-06-04T18:36:51.020' AS DateTime), CAST(N'2026-06-04T18:36:51.020' AS DateTime))
INSERT [dbo].[Policy] ([policy_id], [title], [policy_type], [content], [status], [created_at], [updated_at]) VALUES (2, N'Chính sách đổi trả', N'RETURN', N'Đổi trả trong vòng 7 ngày nếu sản phẩm bị lỗi từ nhà sản xuất.', 1, CAST(N'2026-06-04T18:36:51.020' AS DateTime), CAST(N'2026-06-04T18:36:51.020' AS DateTime))
INSERT [dbo].[Policy] ([policy_id], [title], [policy_type], [content], [status], [created_at], [updated_at]) VALUES (3, N'Chính sách vận chuyển', N'SHIPPING', N'Miễn phí vận chuyển cho đơn hàng từ 5 triệu đồng.', 1, CAST(N'2026-06-04T18:36:51.020' AS DateTime), CAST(N'2026-06-04T18:36:51.020' AS DateTime))

SET IDENTITY_INSERT [dbo].[Policy] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([product_id], [product_name], [description], [warranty_period], [thumbnail], [category_id], [brand_id], [series_id], [purpose]) VALUES (1, N'Laptop ASUS ROG Strix G16 2024', N'Laptop gaming cao cấp với vi xử lý Intel Core i9-14900HX, màn hình 16" 240Hz, thiết kế tản nhiệt ROG vượt trội.', 24, N'products/laptop/asus_rog_strix_g16.jpg', 1, 1, 1, N'Gaming')
INSERT [dbo].[Product] ([product_id], [product_name], [description], [warranty_period], [thumbnail], [category_id], [brand_id], [series_id], [purpose]) VALUES (2, N'Laptop Acer Nitro 16 AN16-41', N'Laptop gaming tầm trung AMD Ryzen 7 7745HX, RTX 4060, màn hình 16" 165Hz, giá cạnh tranh.', 24, N'products/laptop/acer_nitro_16.jpg', 1, 2, 3, N'Gaming')
INSERT [dbo].[Product] ([product_id], [product_name], [description], [warranty_period], [thumbnail], [category_id], [brand_id], [series_id], [purpose]) VALUES (3, N'Laptop Dell XPS 15 9530', N'Laptop doanh nhân cao cấp, màn hình OLED 15.6" 3.5K, Intel Core i7-13700H, thiết kế siêu mỏng.', 12, N'products/laptop/dell_xps15.jpg', 1, 3, 5, N'Văn phòng')















































SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductImage] ON 

INSERT [dbo].[ProductImage] ([image_id], [image_url], [product_id]) VALUES (1, N'products/laptop/asus_rog_g16_1.jpg', 1)
INSERT [dbo].[ProductImage] ([image_id], [image_url], [product_id]) VALUES (2, N'products/laptop/acer_nitro16_1.jpg', 2)
INSERT [dbo].[ProductImage] ([image_id], [image_url], [product_id]) VALUES (3, N'products/laptop/dell_xps15_1.jpg', 3)














































SET IDENTITY_INSERT [dbo].[ProductImage] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductReview] ON 

INSERT [dbo].[ProductReview] ([review_id], [rating], [comment], [time], [order_detail_id], [user_id], [product_id]) VALUES (1, 5, N'Máy cực mạnh, chiến game 4K mượt mà hoàn toàn. Tản nhiệt tốt, không bị nóng dù chạy load nặng. Rất xứng đáng!', CAST(N'2026-06-01T17:09:40.020' AS DateTime), 1, 4, 1)
INSERT [dbo].[ProductReview] ([review_id], [rating], [comment], [time], [order_detail_id], [user_id], [product_id]) VALUES (2, 4, N'Máy chạy tốt, màn đẹp. Riêng cái quạt hơi ồn khi load nặng, nhưng tổng thể vẫn rất ổn với giá tầm trung.', CAST(N'2026-06-01T17:09:40.020' AS DateTime), 2, 6, 2)
INSERT [dbo].[ProductReview] ([review_id], [rating], [comment], [time], [order_detail_id], [user_id], [product_id]) VALUES (3, 5, N'Dell XPS 15 màn hình OLED đẹp xuất sắc, mỏng nhẹ sang trọng. Đúng là laptop doanh nhân đẳng cấp.', CAST(N'2026-06-01T17:09:40.020' AS DateTime), 3, 7, 3)




SET IDENTITY_INSERT [dbo].[ProductReview] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductSeries] ON 

INSERT [dbo].[ProductSeries] ([series_id], [series_name], [brand_id]) VALUES (1, N'ROG', 1)
INSERT [dbo].[ProductSeries] ([series_id], [series_name], [brand_id]) VALUES (2, N'TUF', 1)
INSERT [dbo].[ProductSeries] ([series_id], [series_name], [brand_id]) VALUES (3, N'Nitro', 2)











SET IDENTITY_INSERT [dbo].[ProductSeries] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductVariant] ON 

INSERT [dbo].[ProductVariant] ([variant_id], [product_id], [sku], [variant_name], [import_price], [selling_price], [is_serialized], [status]) VALUES (1, 1, N'ROG-G16-I9-RTX4080', N'Core i9 / RTX 4080 / 32GB / 1TB', CAST(38000000.00 AS Decimal(10, 2)), CAST(49990000.00 AS Decimal(10, 2)), 1, N'active')
INSERT [dbo].[ProductVariant] ([variant_id], [product_id], [sku], [variant_name], [import_price], [selling_price], [is_serialized], [status]) VALUES (2, 1, N'ROG-G16-I7-RTX4070', N'Core i7 / RTX 4070 / 16GB / 512GB', CAST(28000000.00 AS Decimal(10, 2)), CAST(37990000.00 AS Decimal(10, 2)), 1, N'active')
INSERT [dbo].[ProductVariant] ([variant_id], [product_id], [sku], [variant_name], [import_price], [selling_price], [is_serialized], [status]) VALUES (3, 2, N'NITRO16-R7-RTX4060', N'R7 7745HX / RTX 4060 / 16GB / 512GB', CAST(20000000.00 AS Decimal(10, 2)), CAST(27990000.00 AS Decimal(10, 2)), 1, N'active')



















































SET IDENTITY_INSERT [dbo].[ProductVariant] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([role_id], [role_name]) VALUES (1, N'admin')
INSERT [dbo].[Role] ([role_id], [role_name]) VALUES (2, N'staff')
INSERT [dbo].[Role] ([role_id], [role_name]) VALUES (3, N'customer')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Specification] ON 

INSERT [dbo].[Specification] ([specification_id], [specification_name]) VALUES (1, N'CPU')
INSERT [dbo].[Specification] ([specification_id], [specification_name]) VALUES (2, N'RAM')
INSERT [dbo].[Specification] ([specification_id], [specification_name]) VALUES (3, N'Màn hình')
















SET IDENTITY_INSERT [dbo].[Specification] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([user_id], [full_name], [email], [phone], [password], [status], [role_id]) VALUES (1, N'Nguyễn Văn Admin', N'admin@techshop.vn', N'0901000001', N'$2b$10$pkuqOa2fopKTXAmmzOZfFuNQFgx8pGw38l7nUKp6kLT9dRECV08c.', N'active', 1)
INSERT [dbo].[User] ([user_id], [full_name], [email], [phone], [password], [status], [role_id]) VALUES (2, N'Trần Thị Staff', N'staff1@techshop.vn', N'0901000002', N'$2b$10$BIKbj8YA7QhATpd0IrkVFetM6DZDLSLpFhSmSsm4OIzWdmTdnDP2a', N'active', 2)
INSERT [dbo].[User] ([user_id], [full_name], [email], [phone], [password], [status], [role_id]) VALUES (3, N'Lê Minh Staff', N'staff2@techshop.vn', N'0901000003', N'$2b$10$lJPBMhxHajMuffV/iKPgxOptY8Li5efS7k6dX.BLxIQN7viCFLvLu', N'active', 2)














SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[VariantSpecification] ON 

INSERT [dbo].[VariantSpecification] ([variant_specification_id], [variant_id], [value], [specification_id]) VALUES (1, 1, N'Intel Core i9-14900HX', 1)
INSERT [dbo].[VariantSpecification] ([variant_specification_id], [variant_id], [value], [specification_id]) VALUES (2, 1, N'32GB DDR5 5600MHz', 2)
INSERT [dbo].[VariantSpecification] ([variant_specification_id], [variant_id], [value], [specification_id]) VALUES (3, 1, N'16" QHD+ 2560x1600 240Hz IPS', 3)
































































































GO




































































































GO




































































































GO



















SET IDENTITY_INSERT [dbo].[VariantSpecification] OFF
GO
SET IDENTITY_INSERT [dbo].[Voucher] ON 

INSERT [dbo].[Voucher] ([voucher_id], [voucher_code], [discount_value], [min_order_value], [expiry_date]) VALUES (1, N'WELCOME10', CAST(10.00 AS Decimal(10, 2)), CAST(300000.00 AS Decimal(10, 2)), CAST(N'2026-12-31T00:00:00.000' AS DateTime))
INSERT [dbo].[Voucher] ([voucher_id], [voucher_code], [discount_value], [min_order_value], [expiry_date]) VALUES (2, N'SUMMER20', CAST(20.00 AS Decimal(10, 2)), CAST(2000000.00 AS Decimal(10, 2)), CAST(N'2026-07-31T00:00:00.000' AS DateTime))
INSERT [dbo].[Voucher] ([voucher_id], [voucher_code], [discount_value], [min_order_value], [expiry_date]) VALUES (3, N'GAMING500', CAST(500000.00 AS Decimal(10, 2)), CAST(15000000.00 AS Decimal(10, 2)), CAST(N'2026-08-31T00:00:00.000' AS DateTime))






SET IDENTITY_INSERT [dbo].[Voucher] OFF
GO
SET IDENTITY_INSERT [dbo].[Warranty] ON 

INSERT [dbo].[Warranty] ([warranty_id], [warranty_expired_date], [start_date], [warranty_status], [item_id]) VALUES (1, CAST(N'2027-09-01T00:00:00.000' AS DateTime), CAST(N'2025-11-05T00:00:00.000' AS DateTime), N'active', 3)
INSERT [dbo].[Warranty] ([warranty_id], [warranty_expired_date], [start_date], [warranty_status], [item_id]) VALUES (2, CAST(N'2027-09-15T00:00:00.000' AS DateTime), CAST(N'2025-12-10T00:00:00.000' AS DateTime), N'active', 4)
INSERT [dbo].[Warranty] ([warranty_id], [warranty_expired_date], [start_date], [warranty_status], [item_id]) VALUES (3, CAST(N'2027-09-01T00:00:00.000' AS DateTime), CAST(N'2025-11-20T00:00:00.000' AS DateTime), N'active', 7)





SET IDENTITY_INSERT [dbo].[Warranty] OFF
GO
SET IDENTITY_INSERT [dbo].[WarrantyHistory] ON 

INSERT [dbo].[WarrantyHistory] ([history_id], [warranty_id], [issue_description], [repair_status], [repair_date], [repair_note], [created_at]) VALUES (1, 1, N'Bàn phím một số phím bị liệt sau 2 tháng sử dụng', N'completed', CAST(N'2026-02-10T00:00:00.000' AS DateTime), N'Đã thay bàn phím mới, kiểm tra OK', CAST(N'2026-06-01T17:09:40.013' AS DateTime))
INSERT [dbo].[WarrantyHistory] ([history_id], [warranty_id], [issue_description], [repair_status], [repair_date], [repair_note], [created_at]) VALUES (2, 4, N'Pin sụt nhanh, sạc không đầy 100%', N'completed', CAST(N'2026-03-01T00:00:00.000' AS DateTime), N'Đã thay pin, kiểm tra chu kỳ sạc bình thường', CAST(N'2026-06-01T17:09:40.013' AS DateTime))
INSERT [dbo].[WarrantyHistory] ([history_id], [warranty_id], [issue_description], [repair_status], [repair_date], [repair_note], [created_at]) VALUES (3, 6, N'Màn hình xuất hiện đường sọc ngang khi khởi động', N'pending', NULL, N'Đang chờ linh kiện thay thế', CAST(N'2026-06-01T17:09:40.013' AS DateTime))

SET IDENTITY_INSERT [dbo].[WarrantyHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[WarrantyPolicies] ON 

INSERT [dbo].[WarrantyPolicies] ([PolicyID], [PolicyName], [Description], [PolicyContent], [ApplicableRegions], [WarrantyMonths], [Status], [Version], [EffectiveDate], [CreatedAt], [UpdatedAt]) VALUES (1, N'Standard Laptop Warranty', N'Default laptop warranty policy', N'<h3>Coverage</h3><p>Covers manufacturing defects only.</p>', N'VN,APAC', 24, N'LIVE', N'v1.0', CAST(N'2026-01-01' AS Date), CAST(N'2026-06-05T10:05:33.590' AS DateTime), CAST(N'2026-06-05T10:05:33.590' AS DateTime))
INSERT [dbo].[WarrantyPolicies] ([PolicyID], [PolicyName], [Description], [PolicyContent], [ApplicableRegions], [WarrantyMonths], [Status], [Version], [EffectiveDate], [CreatedAt], [UpdatedAt]) VALUES (2, N'Premium Laptop Warranty', N'Extended premium support', N'<h3>Premium Coverage</h3><p>Includes onsite technical support and priority repair.</p>', N'VN,EU,NA', 36, N'LIVE', N'v2.0', CAST(N'2026-01-01' AS Date), CAST(N'2026-06-05T10:05:33.590' AS DateTime), CAST(N'2026-06-05T10:05:33.590' AS DateTime))
INSERT [dbo].[WarrantyPolicies] ([PolicyID], [PolicyName], [Description], [PolicyContent], [ApplicableRegions], [WarrantyMonths], [Status], [Version], [EffectiveDate], [CreatedAt], [UpdatedAt]) VALUES (3, N'Gaming Laptop Warranty', N'Gaming product warranty', N'<h3>Gaming Coverage</h3><ul><li>Mainboard</li><li>GPU</li><li>Cooling System</li></ul>', N'APAC', 24, N'LIVE', N'v1.2', CAST(N'2026-01-01' AS Date), CAST(N'2026-06-05T10:05:33.590' AS DateTime), CAST(N'2026-06-05T10:05:33.590' AS DateTime))







SET IDENTITY_INSERT [dbo].[WarrantyPolicies] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Campaign__C07E23157E36C453]    Script Date: 13/06/2026 13:41:59 ******/
ALTER TABLE [dbo].[Campaign] ADD UNIQUE NONCLUSTERED 
(
	[promo_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Campaign_Status]    Script Date: 13/06/2026 13:41:59 ******/
CREATE NONCLUSTERED INDEX [IX_Campaign_Status] ON [dbo].[Campaign]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Inventor__9BF7BEB838370E02]    Script Date: 13/06/2026 13:41:59 ******/
ALTER TABLE [dbo].[InventoryItem] ADD UNIQUE NONCLUSTERED 
(
	[imei] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Inventor__BED14FEE16C5CBA0]    Script Date: 13/06/2026 13:41:59 ******/
ALTER TABLE [dbo].[InventoryItem] ADD UNIQUE NONCLUSTERED 
(
	[serial_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Order__99D12D3F1DB41ED6]    Script Date: 13/06/2026 13:41:59 ******/
ALTER TABLE [dbo].[Order] ADD UNIQUE NONCLUSTERED 
(
	[order_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PageCont__1FC2DB6C4EAD2170]    Script Date: 13/06/2026 13:41:59 ******/
ALTER TABLE [dbo].[PageContent] ADD UNIQUE NONCLUSTERED 
(
	[page_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ProductV__DDDF4BE77AD4D337]    Script Date: 13/06/2026 13:41:59 ******/
ALTER TABLE [dbo].[ProductVariant] ADD UNIQUE NONCLUSTERED 
(
	[sku] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__AB6E61648F068349]    Script Date: 13/06/2026 13:41:59 ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Voucher__217310697C057BD5]    Script Date: 13/06/2026 13:41:59 ******/
ALTER TABLE [dbo].[Voucher] ADD UNIQUE NONCLUSTERED 
(
	[voucher_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Warranty__25185115151E41D5]    Script Date: 13/06/2026 13:41:59 ******/
ALTER TABLE [dbo].[WarrantyPolicies] ADD UNIQUE NONCLUSTERED 
(
	[PolicyName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Address] ADD  DEFAULT ((0)) FOR [is_default]
GO
ALTER TABLE [dbo].[Campaign] ADD  DEFAULT (N'percentage') FOR [campaign_type]
GO
ALTER TABLE [dbo].[Campaign] ADD  DEFAULT ((0)) FOR [discount_value]
GO
ALTER TABLE [dbo].[Campaign] ADD  DEFAULT ((0)) FOR [min_order_value]
GO
ALTER TABLE [dbo].[Campaign] ADD  DEFAULT ((0)) FOR [used_count]
GO
ALTER TABLE [dbo].[Campaign] ADD  DEFAULT (N'All Customers') FOR [target_group]
GO
ALTER TABLE [dbo].[Campaign] ADD  DEFAULT (N'scheduled') FOR [status]
GO
ALTER TABLE [dbo].[Campaign] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Campaign] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[CampaignBanner] ADD  DEFAULT ((1)) FOR [display_order]
GO
ALTER TABLE [dbo].[CampaignBanner] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[CampaignProduct] ADD  DEFAULT ((0)) FOR [sold_quantity]
GO
ALTER TABLE [dbo].[FlashSaleItem] ADD  DEFAULT ((0)) FOR [sold_quantity]
GO
ALTER TABLE [dbo].[Inventory] ADD  DEFAULT ((0)) FOR [reserved_quantity]
GO
ALTER TABLE [dbo].[Inventory] ADD  DEFAULT ((0)) FOR [available_quantity]
GO
ALTER TABLE [dbo].[InventoryItem] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[InventoryItem] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[OrderItemSerial] ADD  DEFAULT (getdate()) FOR [assigned_at]
GO
ALTER TABLE [dbo].[PageContent] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[PageContent] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[PageContent] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Policy] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Policy] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Policy] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[ProductVariant] ADD  DEFAULT ((0)) FOR [is_serialized]
GO
ALTER TABLE [dbo].[WarrantyHistory] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[WarrantyPolicies] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[WarrantyPolicies] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[AIFeedback]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Campaign]  WITH CHECK ADD  CONSTRAINT [FK_Campaign_FlashSale] FOREIGN KEY([flashsale_id])
REFERENCES [dbo].[FlashSale] ([flashsale_id])
GO
ALTER TABLE [dbo].[Campaign] CHECK CONSTRAINT [FK_Campaign_FlashSale]
GO
ALTER TABLE [dbo].[Campaign]  WITH CHECK ADD  CONSTRAINT [FK_Campaign_Voucher] FOREIGN KEY([voucher_id])
REFERENCES [dbo].[Voucher] ([voucher_id])
GO
ALTER TABLE [dbo].[Campaign] CHECK CONSTRAINT [FK_Campaign_Voucher]
GO
ALTER TABLE [dbo].[CampaignBanner]  WITH CHECK ADD  CONSTRAINT [FK_CampaignBanner_Campaign] FOREIGN KEY([campaign_id])
REFERENCES [dbo].[Campaign] ([campaign_id])
GO
ALTER TABLE [dbo].[CampaignBanner] CHECK CONSTRAINT [FK_CampaignBanner_Campaign]
GO
ALTER TABLE [dbo].[CampaignProduct]  WITH CHECK ADD  CONSTRAINT [FK_CampaignProduct_Campaign] FOREIGN KEY([campaign_id])
REFERENCES [dbo].[Campaign] ([campaign_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CampaignProduct] CHECK CONSTRAINT [FK_CampaignProduct_Campaign]
GO
ALTER TABLE [dbo].[CampaignProduct]  WITH CHECK ADD  CONSTRAINT [FK_CampaignProduct_ProductVariant] FOREIGN KEY([variant_id])
REFERENCES [dbo].[ProductVariant] ([variant_id])
GO
ALTER TABLE [dbo].[CampaignProduct] CHECK CONSTRAINT [FK_CampaignProduct_ProductVariant]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[CartItem]  WITH CHECK ADD FOREIGN KEY([cart_id])
REFERENCES [dbo].[Cart] ([cart_id])
GO
ALTER TABLE [dbo].[CartItem]  WITH CHECK ADD FOREIGN KEY([variant_id])
REFERENCES [dbo].[ProductVariant] ([variant_id])
GO
ALTER TABLE [dbo].[FlashSaleItem]  WITH CHECK ADD FOREIGN KEY([flashsale_id])
REFERENCES [dbo].[FlashSale] ([flashsale_id])
GO
ALTER TABLE [dbo].[FlashSaleItem]  WITH CHECK ADD FOREIGN KEY([variant_id])
REFERENCES [dbo].[ProductVariant] ([variant_id])
GO
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD FOREIGN KEY([variant_id])
REFERENCES [dbo].[ProductVariant] ([variant_id])
GO
ALTER TABLE [dbo].[InventoryItem]  WITH CHECK ADD FOREIGN KEY([variant_id])
REFERENCES [dbo].[ProductVariant] ([variant_id])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([voucher_id])
REFERENCES [dbo].[Voucher] ([voucher_id])
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([order_id])
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD FOREIGN KEY([variant_id])
REFERENCES [dbo].[ProductVariant] ([variant_id])
GO
ALTER TABLE [dbo].[OrderItemSerial]  WITH CHECK ADD FOREIGN KEY([item_id])
REFERENCES [dbo].[InventoryItem] ([item_id])
GO
ALTER TABLE [dbo].[OrderItemSerial]  WITH CHECK ADD FOREIGN KEY([order_detail_id])
REFERENCES [dbo].[OrderDetail] ([order_detail_id])
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([order_id])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([brand_id])
REFERENCES [dbo].[Brand] ([brand_id])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[Category] ([category_id])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([series_id])
REFERENCES [dbo].[ProductSeries] ([series_id])
GO
ALTER TABLE [dbo].[ProductImage]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[ProductReview]  WITH CHECK ADD FOREIGN KEY([order_detail_id])
REFERENCES [dbo].[OrderDetail] ([order_detail_id])
GO
ALTER TABLE [dbo].[ProductReview]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[ProductReview]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[ProductSeries]  WITH CHECK ADD FOREIGN KEY([brand_id])
REFERENCES [dbo].[Brand] ([brand_id])
GO
ALTER TABLE [dbo].[ProductVariant]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[Role] ([role_id])
GO
ALTER TABLE [dbo].[VariantSpecification]  WITH CHECK ADD FOREIGN KEY([specification_id])
REFERENCES [dbo].[Specification] ([specification_id])
GO
ALTER TABLE [dbo].[VariantSpecification]  WITH CHECK ADD FOREIGN KEY([variant_id])
REFERENCES [dbo].[ProductVariant] ([variant_id])
GO
ALTER TABLE [dbo].[Warranty]  WITH CHECK ADD FOREIGN KEY([item_id])
REFERENCES [dbo].[InventoryItem] ([item_id])
GO
ALTER TABLE [dbo].[WarrantyHistory]  WITH CHECK ADD FOREIGN KEY([warranty_id])
REFERENCES [dbo].[Warranty] ([warranty_id])
GO
ALTER TABLE [dbo].[WarrantyPolicies]  WITH CHECK ADD CHECK  (([Status]='DISABLED' OR [Status]='LIVE' OR [Status]='DRAFT'))
GO
ALTER TABLE [dbo].[WarrantyPolicies]  WITH CHECK ADD CHECK  (([WarrantyMonths]>(0)))
GO
USE [master]
GO
ALTER DATABASE [unilap_db] SET  READ_WRITE 
GO
