<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>InventoryListController</servlet-name>
        <servlet-class>controller.InventoryListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductController</servlet-name>
        <servlet-class>controller.EditProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InventoryListController</servlet-name>
        <url-pattern>/admin/inventory</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddProductController</servlet-name>
        <servlet-class>controller.AddProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddProductController</servlet-name>
        <url-pattern>/admin/inventory/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductController</servlet-name>
        <url-pattern>/admin/inventory/edit</url-pattern>
    </servlet-mapping>
</web-app>
