LMSTUDIO_BASE_URL=http://localhost:1234/v1
LMSTUDIO_MODEL=qwen2.5-7b-instruct-1m

DB_DRIVER=ODBC Driver 17 for SQL Server
DB_SERVER=.\SQLEXPRESS
DB_NAME=Margiela_Laptop_Store
DB_TRUSTED=no
DB_USER=your_db_user
DB_PASSWORD=your_db_password